.add-menu{
  top: 50px;
  left: 15px;
  width: 100%;
  display: flex;
  z-index: 90;
  position: fixed;
  box-shadow: 0 0 4px lightsteelblue;
  background-color: white;
  padding: 6px;

}

.react-dropdown-select-content{
  height: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 12px;
  input{
    font-size: 0;
    height: 0;
  }

}
.react-dropdown-select-option-label{
  height: 10px;
}

.react-dropdown-select{
  height: 40px;
  left: 20px;
  max-width: 300px;
  border-radius: 5px;
}
.img-2{
  position: absolute;
  left: 0px;
  top: 3px;
  height: 30px;
}

.sort{
  position: relative;
  left: 20px;
  .form-control{
    width: 115px;
    height: 40px;
  }
}

.img-1{
  position: absolute;
  left: -21px;
  top: 4px;
  height: 30px;
}




