.search{
  position: relative;
  left: 20px;
  height: 40px;
  max-width: 300px;
  Input{
    height: 40px;
  }

  img{
    position: absolute;
    height: 35px;
    right: 5px;
    top: 2px;
    opacity: 0.7;
  }

  img:hover{
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    opacity:1;
    filter:alpha(opacity=100);
  }
}